[submodule "src/python/projet-2"]
	path = src/python/projet-2
	url = git@github.com:TBoileau/oc-python-2.git
[submodule "src/python/projet-3"]
	path = src/python/projet-3
	url = git@github.com:TBoileau/oc-python-3.git
[submodule "src/python/projet-4"]
	path = src/python/projet-4
	url = git@github.com:TBoileau/oc-python-4.git
[submodule "src/python/projet-6"]
	path = src/python/projet-6
	url = git@github.com:TBoileau/oc-python-6.git
[submodule "src/python/projet-7"]
	path = src/python/projet-7
	url = git@github.com:TBoileau/oc-python-7.git
[submodule "src/python/projet-9"]
	path = src/python/projet-9
	url = git@github.com:TBoileau/oc-python-9.git
[submodule "src/php-symfony/projet-7"]
	path = src/php-symfony/projet-7
	url = git@github.com:TBoileau/oc-symfony-7.git
[submodule "src/php-symfony/projet-5"]
	path = src/php-symfony/projet-5
	url = git@github.com:TBoileau/oc-symfony-5.git
[submodule "src/php-symfony/projet-6"]
	path = src/php-symfony/projet-6
	url = git@github.com:TBoileau/oc-symfony-6.git
[submodule "src/php-symfony/projet-7"]
	path = src/php-symfony/projet-7
	url = git@github.com:TBoileau/oc-symfony-7.git
[submodule "src/frontend/projet-6"]
	path = src/frontend/projet-6
	url = git@github.com:TBoileau/oc-frontend-6.git
[submodule "src/frontend/projet-7"]
	path = src/frontend/projet-7
	url = git@github.com:TBoileau/oc-frontend-7.git
[submodule "src/developpeur-web/projet-2"]
	path = src/developpeur-web/projet-2
	url = git@github.com:TBoileau/oc-devweb-2.git
[submodule "src/developpeur-web/projet-5"]
	path = src/developpeur-web/projet-5
	url = git@github.com:TBoileau/oc-devweb-5.git
[submodule "src/developpeur-web/projet-7"]
	path = src/developpeur-web/projet-7
	url = git@github.com:TBoileau/oc-devweb-7.git
[submodule "src/developpeur-web/projet-3"]
	path = src/developpeur-web/projet-3
	url = git@github.com:TBoileau/oc-devweb-3.git
[submodule "src/testeur-logiciel/projet-2"]
	path = src/testeur-logiciel/projet-2
	url = git@github.com:TBoileau/oc-testeur-2.git
[submodule "src/testeur-logiciel/projet-3"]
	path = src/testeur-logiciel/projet-3
	url = git@github.com:TBoileau/oc-testeur-3.git
[submodule "src/testeur-logiciel/projet-6"]
	path = src/testeur-logiciel/projet-6
	url = git@github.com:TBoileau/oc-testeur-6.git
[submodule "src/testeur-logiciel/projet-7"]
	path = src/testeur-logiciel/projet-7
	url = git@github.com:TBoileau/oc-testeur-7.git
[submodule "src/testeur-logiciel/projet-8"]
	path = src/testeur-logiciel/projet-8
	url = git@github.com:TBoileau/oc-testeur-8.git
